<launch>
    <arg name="record" default="True"/>

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    </include>

    <node
        pkg="walker_turtlebot"
        name="walker"
        type="walker"
        output="screen"
        launch-prefix="gnome-terminal --command"
    />
     <node
        pkg="rosbag"
        name="recorder_bag"
        type="record" 
        args="--duration=30 --all --output-name=$(find walker_turtlebot)/results/turtlebot_walker.bag -x /camera/(.*)"
        if="$(arg record)" 
    />

</launch>
